<div class="my-7 px-16">
  <div class="flex items-center justify-between mb-4">
    <div class="flex flex-col gap-1">
      <label for="username">Search</label>
      <input
        pInputText
        id="username"
        class="border border-gray-300 px-2 py-1"
        [formControl]="name"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="username">Search</label>
      <p-dropdown
        [options]="cities"
        [formControl]="city"
        placeholder="Select a City"
        [editable]="true"
        optionLabel="name"
      />
    </div>
    <button (click)="create()" color="primary" mat-fab aria-label="Add icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="table-container mat-elevation-z8">
    <div class="table-scrolling-container">
      <table mat-table class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>
        <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Manufacturer
          </th>
          <td mat-cell *matCellDef="let row">{{ row.manufacturer }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.category }}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{ row.price + "$" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon
              class="text-blue-600 hover:text-blue-400 cursor-pointer ease-in"
              (click)="edit(row)"
              aria-label="Edit"
              fontIcon="settings"
            ></mat-icon>
            <mat-icon
              class="text-red-600 hover:text-red-400 cursor-pointer ease-in"
              (click)="delete(row)"
              aria-label="Delete"
              fontIcon="delete"
            ></mat-icon>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      #paginator
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
<p-toast />
